.d-none {
    display: none !important;
}   

#printDrawingBtn {
    display: none;
}

#getQuoteBtn {
    display: none;
}

#rendered-img, #rendered-datasheet {
    width: 1000px;
}

#printable {
    margin-bottom: 20px;
}

#printable-logo {
    display: none;
    width: 20%;
    height: auto;
    margin-bottom: 15px;
}

/* CSS para la impresión: mostrar el logo */
@media print {
    #printable-logo {
        display: block;
    }
}